.box { 
    height: 250px;
    width: 250px;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
}


img{
clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
filter: blur(10px);

}

button:hover { 

transform: scale(2);

}

button {
   transform: transition 2s;
}

body {
    background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8a2387, #e94057, #f27121); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.scale-up-bottom {
	-webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-up-bottom 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes scale-up-bottom {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  @keyframes scale-up-bottom {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  

    








@keyframes playGame {
    0% {color: red}
    25%{color: yellow}
    50%{color: red}
    75% {color: green}
    100%{color: red}
}